aniso8601==2.0.0 
certifi==2017.11.5 
chardet==3.0.4 
click==6.7 
flask==0.12.2 
flask-cors==3.0.3 
flask-restful==0.3.6 
flask-script==2.0.6 
gunicorn==19.7.1 
idna==2.6 
itsdangerous==0.24 
jinja2==2.10 
markupsafe==1.0 
psycopg2==2.7.3.2 
pytz==2017.3 
pyyaml==3.12 
requests==2.18.4 
six==1.11.0 
urllib3==1.22 
uuid==1.30 
werkzeug==0.14.1 
git+https://github.com/BLaurent/predixpy.git@master#egg=predix
